CREATE OR ALTER PROCEDURE [dbo].[spC#GenerateAllMethods]
	@DBName nvarchar(max),
	@ConnectionString nvarchar(max),
	@Namespace nvarchar(max) = null,
	@ClassName nvarchar(max) = null
AS

SET CONCAT_NULL_YIELDS_NULL OFF

IF NOT EXISTS
(
	SELECT	*
	FROM	sys.databases
	WHERE	name LIKE @DBName
)
BEGIN
	RAISERROR(N'Error generating class for database %s - database does not exist.', 15, 1, @DbName)
END

BEGIN TRY
	EXEC spC#ViewHelper @DBName

	DECLARE	@C# nvarchar(max) = N''
	
	IF @Namespace IS NOT NULL
	BEGIN
		SET @C# = N'namespace ' + @Namespace + N'
		{
	'
	END
	
	SET @C# = @C# + 
	N'		/// <summary>
			/// Class autogenerated by ned''s SQL to C# utility....
			/// </summary>
			public static class ' + ISNULL(@ClassName, DB_NAME()) + N'Database
			{
				public const string CONNECTION = "' + @ConnectionString + N'";
	'
	
	
	SELECT	@C# = @C# + T.Text + CHAR(13) + CHAR(10)
	FROM	sys.procedures PR
		CROSS APPLY tfnC#MethodText(PR.object_id, 3) T
	
	SELECT	@C# = @C# + N'
		{
	{
	'
	SELECT @C#

	DROP VIEW vwProcedures
END TRY
BEGIN CATCH
	DROP VIEW vwProcedures
	;THROW
END CATCH